---
import SimpleHeader from "./SimpleHeader.astro"
import Education from "./Education.astro"
import Publications from "./Publications.astro"
---

<div class="container">
  <SimpleHeader />
  <Education />
  <Publications />
</div>

