<div class="container">
  <div class="simple-header">
    <div class="header-left">
      <div class="name">峯岸 聖太</div>
      <div class="eng-name">Shota Minegishi (@smngs)</div>
      <a href="https://github.com/smngs">
        <span class="badge">
          <span class="fab fa-github fa-sm"></span>
          GitHub
        </span>
      </a>
      <a href="mailto:smngs@smngs.io">
        <span class="badge">
          <span class="fas fa-envelope fa-sm">
          </span>
          Mail
        </span>
      </a>
    </div>
    <div class="header-right">
      <img src="https://github.com/smngs.png" class="icon">
    </div>
  </div>

  <div class="education">
    <h2>Education</h2>
    <ul class="education-list">
      <li>
        <div class="line">
          <span class="date">2024 ~ </span> 
          <span class="text">上智大学大学院 理工学研究科 理工学専攻 博士後期課程</span>
        </div>
      </li>
      <li>
        <div class="line">
          <span class="date">2024 ~ </span> 
          <span class="text">上智大学 理工学部 研究補助員</span>
        </div>
      </li>
      <li>
        <div class="line">
          <span class="date">2022 ~ 2024</span> 
          <span class="text">上智大学大学院 理工学研究科 理工学専攻 博士前期課程</span>
        </div>
      </li>
      <li>
        <div class="line">
          <span class="date">2019 ~ 2022</span> 
          <span class="text">上智大学 理工学部 情報理工学科</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="publications">
    <h2>Publications</h2>
    <div class="conference">
      <h3>Conference Proceedings</h3>
      <ol>
        <li><span class="author">Shota Minegishi</span> and Masaki Bandai, "Content Prefetching Method for Scalable Video Coding in IPFS", In Proc. of IEEE International Conference on Consumer Electronics (IEEE ICCE 2025), Las Vegas, USA, Jan. 2025 (Best Session Presentation Award).</li>
        <li><span class="author">Shota Minegishi</span> and Masaki Bandai, "Evaluation of Prefetching Method for Routing Information in IPFS Video Streaming", In Proc. of 2024 International Conference on Emerging Technologies for Communications (IEICE ICETC 2024), Poster, Kitakyushu, Japan, Nov. 2024 (Best Student Award).</li>
      </ol>
    </div>

    <div class="domestic">
      <h3>Presentations (in Japanese)</h3>
      <ol>
        <li><span class="author">峯岸 聖太</span>, 萬代 雅希, "IPFS 階層符号ビデオストリーミングにおけるコンテンツプリフェッチ", 電子情報通信学会 ネットワークシステム研究会, 大阪, 2025 年 1 月 (奨励講演, 電子情報通信学会ネットワークシステム研究会 若手研究奨励賞).</li>
        <li><span class="author">峯岸 聖太</span>, 足立 匠, 萬代 雅希, "階層符号化を用いた IPFS ビデオストリーミングにおけるコンテンツプリフェッチの性能評価", 電子情報通信学会 ネットワークシステム研究会, 札幌, 2024 年 7 月.</li>
        <li>足立 匠, <span class="author">峯岸 聖太</span>, 萬代 雅希, "再生速度を考慮したアダプティブビデオストリーミング", 電子情報通信学会 ネットワークシステム研究会, 札幌, 2024 年 7 月.</li>
        <li><span class="author">峯岸 聖太</span>, 萬代 雅希, "経路情報のプリフェッチを適用した IPFS ビデオストリーミング", 電子情報通信学会 総合大会, 広島, 2024 年 3 月.</li>
      </ol>
    </div>

    <div class="Awards">
      <h3>Awards</h3>
      <ol>
        <li>電子情報通信学会 ネットワークシステム研究会 若手研究奨励賞, 2025 年 1 月.</li>
        <li>IEEE 43rd International Conference on Consumer Electronics (IEEE ICCE 2025) Best Session Presentation Award, Jan. 2025.</li>
        <li>The 5th IEICE-CS International Conference on Emerging Technologies for Communications (IEICE ICETC 2024) Best Student Award, Nov. 2024.</li>
      </ol>
    </div>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

  body {
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    color: #2f2f2f;
    background-color: #f6f6f6;
    font-weight: 400;
    font-style: normal;
  }

  h2, h3 {
    font-weight: 500;
  }

  h3::before {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 1em;
    margin-right: 0.4em;
    background-color: #30a3b3;
    border-radius: 0.2em;
    vertical-align: middle;
    position: relative;
    top: -0.1em;
  }

  .simple-header {
    background-color: #30a3b3;
    color: white;
    padding: 3em;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;

    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
  }

  .simple-header .header-left {
    flex-grow: 1;
    min-width: 0;
  }

  .simple-header .badge {
    display: inline-block;
    background-color: #5e5e5e;  /* 背景色 */
    color: white;               /* 文字色 */
    padding: 10px 8px;           /* 内側余白（上下2px、左右8px） */
    margin-top: 2em;
    font-size: 12px;            /* 文字サイズ */
    border-radius: 5px;        /* 丸み。高さより大きめで pill 形に */
    font-weight: bold;
    line-height: 1;
  }

  .simple-header .name {
    font-weight: 500;
  }

  .simple-header .logo {
    width: 16px;
    height: 16px;
  }

  .simple-header .icon {
    width: 8em;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
    flex-shrink: 0;
  }


  @media screen and (max-width: 768px) {
    .simple-header {
      padding: 2em;
    }

    .simple-header .icon {
      width: 4em;
    }
  }

  .simple-header .name {
    font-size: 36px;
  }

  .simple-header .eng-name {
    font-size: 24px;
  }

  .education {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .publications {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .publications ol
  {
    padding-left: 2.5em;
    list-style-type: disc;
  }

  .publications ol > li {
    list-style-position: outside;
  }

  .author {
    font-weight: bold;
    text-decoration: underline;
  }

  .education .education-list {
    padding-left: 1.5em;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
  }

  .education .education-list li {
    position: relative;
    align-items: flex-start;
    margin-bottom: 1em;
  }

  .education .education-list .line {
    display: flex;
    gap: 1em;
  }

  .education .education-list .line .date {
    flex: 0 0 7em;
    font-weight: bold;
    margin-right: 0.25em;
  }

  .education .education-list .line .text {
  }
</style>
