---
import { SEO } from "astro-seo";
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';
import "../assets/container.css"
import "../assets/custom.css"
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" />

    <link rel="icon" href="/favicon.png" />
    <meta name="description" content="Shota Minegishi is a doctoral course student of the Faculty of Science and Technology, Sophia University.">
    <SEO
      title="Shota Minegishi (@smngs)",
      description="Shota Minegishi is a doctoral course student of the Faculty of Science and Technology, Sophia University, Japan.",
    /> 
    <title>Shota Minegishi (@smngs)</title>
  </head>
  <body>
    <slot />
  </body>
</html>
